body{
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color-Cream);
}

:root{
    --primary-color-cyan: hsl(158, 36%, 37%);
    --primary-color-Cream: hsl(30, 38%, 92%);
    --color-Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

}

header{
    background-color: var(--primary-color-Cream);
    height: 12rem;
}
main{
    background-color: var(--White);
    width: 600px;
    display: flex;
    margin-left: 20rem;
}
.attribution { 
    font-size: 11px;
    text-align: center; 
}    
.attribution a {
    color: hsl(228, 45%, 44%); 
}